<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление города</title>
    <th:block th:insert="blocks/head::head"></th:block>
    <script th:src="@{/addingPhotoHandler.js}"></script>
</head>
<body>
<header th:insert="blocks/header::header"></header>
<div class="container" style="min-height: calc(100vh - 240px)">
    <form method="post" class="col-6 m-auto">
        <p class="descfrmTypeLabel lead">Добавление нового города</p>
        <div class="form-group row col-8">
            <label>Область</label>
            <div class="invalid-feedback">
                <span th:each="err : ${#fields.errors('cityForm.region')}" th:text="${err}"></span>
            </div>
            <select class="form-control" name="region" th:field="*{cityForm.region}" th:errorclass="is-invalid">
                <option th:each="reg : ${regions}" th:value="${reg.id}" th:label="${reg.name}"></option>
            </select>
        </div>
        <div class="form-group row col-8">
            <label>Название</label>
            <div class="invalid-feedback">
                <span th:each="err : ${#fields.errors('cityForm.name')}" th:text="${err}"></span>
            </div>
            <input type="text" maxlength="255" id="title" class="form-control" name="name" th:field="*{cityForm.name}"
                   th:errorclass="is-invalid">
        </div>
        <div class="form-group row col-12">
            <label for="description">Описание</label>
            <div class="invalid-feedback">
                <span th:each="err : ${#fields.errors('cityForm.description')}" th:text="${err}"></span>
            </div>
            <textarea placeholder="Введите описание" id="description" class="form-control"
                      name="description" th:field="*{cityForm.description}" th:errorclass="is-invalid"></textarea>
        </div>
        <label class="col-3 pl-0">Фото</label>
        <div class="invalid-feedback">
            <span th:each="err : ${#fields.errors('cityForm.photo')}" th:text="${err}"></span>
        </div>
        <th:block th:insert="blocks/photoInput::photoInput(${cityForm.photo})"></th:block>
        <div class="text-right form-group">
            <button class="btn btn-info mt-3 mb-2 mr-5">Сохранить</button>
        </div>
    </form>
</div>
<ul th:replace="blocks/photoUlElement::phtotoElement"></ul>
<footer th:replace="blocks/footer::footer"></footer>
</body>
</html>