<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="blocks/head::head"></th:block>
</head>
<body class="bckg-img">
<header th:insert="blocks/header::header">
</header>
<div class="container-fluid m-o p-0">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
        <h1 class="display-4">Добро пожаловать в онлайн-гид по Беларуси!</h1>
        <p class="lead"></p>
    </div>
    <div class="bg-light pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">Хочешь отправиться в незабываемое путшествие по Беларуси?</h2>
            <p class="lead">Мы знаем, чем тебе помочь...</p>
        </div>
    </div>
</div>
<footer th:replace="blocks/footer::footer"></footer>
</body>
</html>