<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <th:block th:insert="blocks/head::head"></th:block>
</head>
<body>
<header th:insert="blocks/header::header"></header>
<div class="container" style="min-height: calc(100vh - 240px)">
    <form method="post" th:action="@{/login}" class="col-4 m-auto">
        <p class="descfrmTypeLabel lead">Пожалуйста, войдите</p>
        <div class="form-group row">
            <label>E-mail</label>
            <input type="email" maxlength="30" id="name"
                   class="form-control" name="name">
        </div>
        <div class="form-group row">
            <label>Пароль</label>
            <input type="password" maxlength="30" id="email"
                   class="form-control" name="password">
        </div>
        <div th:if="${param.error}" class="form-group row alert alert-danger font-weight-lighter">
            Некорретктное имя пользователя или пароль
        </div>
        <div class="form-group text-center">
            <button class="btn btn-outline-primary pr-5 pl-5">Войти</button>
        </div>
        <div class="form-group text-center">
            <a th:href="@{/registration}">
                <button type="button" class="btn btn-outline-secondary pr-4 pl-4">
                    Регистрация
                </button>
            </a>
        </div>
    </form>
</div>
<footer th:replace="blocks/footer::footer"></footer>
</body>
</html>