<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="blocks/head::head"></th:block>
    <script
            src="https://api-maps.yandex.ru/2.1/?apikey=0e2329b4-2102-49c8-b3d8-2b8f4d0abf28&load=package.full&lang=ru_RU"
            type="text/javascript">
    </script>
    <script th:src="@{/directionscript.js}"></script>
</head>

<body>
<header th:insert="blocks/header::header">
</header>
<div class="container">
    <div class="map-direction">
        <div class="text-center">
            <div class="map-container">
                <div id="map"></div>
            </div>
            <button type="button" id="clear" class="btn btn-dark mt-3">Очистить</button>
            <button th:if="${userAuth}" type="button" id="save" class="btn btn-info mt-3 ml-3">Сохранить</button>
            <span th:if="${!userAuth}" class="make-auth mt-3 ml-3"><a
                    href="/login">Авторизуйтесь</a> чтобы сохранить</span>
        </div>
    </div>
    <div class="places-info">
        <div class="short-places">
        </div>
    </div>
</div>

<div class="example none">
    <div class="alert alert-info mt-2 short-place">
        <img class="place-img" src=""/>
        <div class="info">
            <h3><a href="/places/"></a></h3>
            <div class="description"></div>
            <div class="address-time"></div>
        </div>
        <div class="arrows">
            <button class="up">Вверх</button>
            <button class="down">Вниз</button>
        </div>
        <div class="buttons">
            <button type="button" class="delete-button"><i class="trash"></i></button>
        </div>
    </div>
</div>
<footer th:replace="blocks/footer::footer"></footer>
</body>

</html>