<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Области</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="blocks/head::head"></th:block>
</head>
<body>
<header th:insert="blocks/header::header">
</header>
<div class="container marketing">
    <div class="d-flex">
        <h1 class="page-header w-100">Достопримечаельности:</h1>
        <div class="text-right align-items-center">
            <a th:if="${admin}" class="btn btn-outline-dark" th:href="'../admin/places/add/' + ${region.getId()}
             + '/' + ${cityId}">Добавить</a>
        </div>
    </div>
    <div class="row featurette region-block" th:each="place,iter : ${places} "
         th:with="carouselId=${'carousel-' + iter.index}">
        <div class="col-8">
            <h2 class="featurette-heading" th:text="${place.name}"></h2>
            <p class="lead" th:text="${place.description}"></p>
            <a class="btn btn-outline-secondary" th:href="'/places/' + ${place.id}">Просмотреть</a>
            <a th:if="${admin}" class="btn btn-outline-dark" th:href="'../admin/places/edit/' + ${place.id}">Изменить</a>
        </div>
        <th:block th:insert="blocks/carousel::carousel(${place})"></th:block>
    </div>
</div>
<footer th:replace="blocks/footer::footer"></footer>
</body>
</html>