<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление достопримечательности</title>
    <th:block th:insert="blocks/head::head"></th:block>
    <script th:src="@{/addingPhotoHandler.js}"></script>
    <script th:src="@{/citiesHandler.js}"></script>
    <script
            src="https://api-maps.yandex.ru/2.1/?apikey=0e2329b4-2102-49c8-b3d8-2b8f4d0abf28&load=package.full&lang=ru_RU"
            type="text/javascript">
    </script>
    <script th:src="@{/choiceMarkerOnMap.js}"></script>
</head>
<body>
<header th:insert="blocks/header::header"></header>
<div class="container" style="min-height: calc(100vh - 240px)">
    <form method="post" class="col-6 m-auto">
        <p class="descfrmTypeLabel lead">Добавление достопримечательности</p>
        <div class="form-group row col-8">
            <label>Область</label>
            <div class="invalid-feedback">
                <span th:each="err : ${#fields.errors('placeForm.region')}" th:text="${err}"></span>
            </div>
            <select id="regions" class="form-control" name="region" th:field="${placeForm.region}"
                    th:errorclass="is-invalid">
                <option hidden th:value="-1"></option>
                <option th:each="reg : ${regions}" th:value="${reg.id}" th:label="${reg.name}"></option>
            </select>
        </div>
        <div class="form-group row col-8">
            <label>Город</label>
            <div class="invalid-feedback">
                <span th:each="err : ${#fields.errors('placeForm.city')}" th:text="${err}"></span>
            </div>
            <select id="cities" class="form-control" name="city" th:field="${placeForm.city}"
                    th:errorclass="is-invalid">
                <option th:each="city : ${cities}" th:value="${city.id}" th:label="${city.name}"></option>
            </select>
        </div>
        <div class="form-group row col-8">
            <label>Название</label>
            <div class="invalid-feedback">
                <span th:each="err : ${#fields.errors('placeForm.name')}" th:text="${err}"></span>
            </div>
            <input type="text" maxlength="255" id="title" class="form-control" name="name" th:errorclass="is-invalid"
                   th:field="*{placeForm.name}">
        </div>
        <div class="form-group row col-8">
            <label>Телефон</label>
            <input type="text" maxlength="255" class="form-control" name="phone" th:field="*{placeForm.phone}">

        </div>
        <div class="form-group row col-8">
            <label>Время работы</label>
            <input type="text" maxlength="255" class="form-control" name="workTime" th:field="*{placeForm.workTime}">

        </div>
        <div class="form-group row col-8">
            <label>Сайт</label>
            <input type="text" maxlength="255" class="form-control" name="site" th:field="*{placeForm.site}">

        </div>
        <div class="form-group row col-8">
            <label>Адрес</label>
            <div class="invalid-feedback">
                <span th:each="err : ${#fields.errors('placeForm.address')}" th:text="${err}"></span>
            </div>
            <input th:field="*{placeForm.address}" type="text" maxlength="100" class="form-control" name="address"
                   th:errorclass="is-invalid">

        </div>
        <div class="form-group row col-12">
            <label for="description">Описание</label>
            <div class="invalid-feedback">
                <span th:each="err : ${#fields.errors('placeForm.description')}" th:text="${err}"></span>
            </div>
            <textarea placeholder="Введите описание" id="description" class="form-control"
                      name="description" th:errorclass="is-invalid" th:field="*{placeForm.description}"></textarea>
        </div>

        <div class="map-container row col-12">
            <label for="map">Укажите метоположение достопримечательности:</label>
            <div class="invalid-feedback">
                <span th:each="err : ${#fields.errors('placeForm.x')}" th:text="${err}"></span>
            </div>
            <div id="map" class="p-2"></div>
            <input type="hidden" value="" name="x" class="x" th:field="*{placeForm.x}">
            <input type="hidden" value="" name="y" class="y" th:field="*{placeForm.y}">
            <input type="hidden" value="" name="zoom" class="zoom" th:field="*{placeForm.zoom}">
            <input type="hidden" value="" name="centerX" class="centerX" th:field="*{placeForm.centerX}">
            <input type="hidden" value="" name="centerY" class="centerY" th:field="*{placeForm.centerY}">
        </div>

        <label class="col-3 pl-0 mt-1">Фото</label>
        <div class="invalid-feedback">
            <span th:each="err : ${#fields.errors('placeForm.photo')}" th:text="${err}"></span>
        </div>
        <th:block th:insert="blocks/photoInput::photoInput(${placeForm.photo})"></th:block>
        <div class="text-right form-group">
            <button class="btn btn-info mt-3 mb-2 mr-5">Сохранить</button>
        </div>
    </form>
</div>
<ul th:replace="blocks/photoUlElement::phtotoElement"></ul>
<footer th:replace="blocks/footer::footer"></footer>
</body>
</html>