<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${place.name}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="blocks/head::head"></th:block>
    <script th:src="@{/place.js}"></script>
</head>

<body>
<header th:insert="blocks/header::header">
</header>
<div class=" px-3 px-md-5 text-center mb-2 container-fluid">
    <h2 class="display-4 page-header" th:text="${place.name}"></h2>
    <div class="shadow-sm mx-auto p-2 place-bckg pt-3" style="width: 70%; border-radius: 21px">
        <div class="text-dark">
            <div id="carousel" class="carousel large slide col-8 mx-auto m-2" data-ride="carousel">
                <div class="carousel-inner shadow-bckg">
                    <div class="carousel-item shadow-bckg" th:each="img : ${place.photo}">
                        <div class="carousel-item-img large">
                            <img th:src="${img}">
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <th:block th:each="place: ${place.description}">
                <p class="lead text-left pl-2 pr-2 indent" th:text="${place}"></p>
            </th:block>
            <p class="font-weight-bold">Контакатная информация:</p>
            <p class="font-weight-light" th:if="${place.address.length() != 0}"
               th:text="${'Адрес: ' + place.address}"></p>
            <p class="font-weight-light" th:if="${place.phone.length() != 0}"
               th:text="${'Телефон: ' + place.phone}"></p>
            <p class="font-weight-light" th:if="${place.workTime.length() != 0}"
               th:text="${'Время работы: ' + place.workTime}"></p>
            <span th:if="${place.site.length() != 0}">Сайт:  </span><a th:text="${place.site}"
                                                                       th:href="${place.site}"
                                                                       target="_blank"></a>
        </div>
        <div class="m-2">
            <button id="addmarker" th:data-placeid="${place.id}" class="btn btn-outline-dark">Добавить в
                поездку
            </button>
        </div>
    </div>
</div>
<footer th:replace="blocks/footer::footer"></footer>
</body>

</html>