<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление региона</title>
    <th:block th:insert="blocks/head::head"></th:block>
    <script th:src="@{/addingPhotoHandler.js}"></script>

</head>
<body>
<header th:insert="blocks/header::header"></header>
<div class="container" style="min-height: calc(100vh - 240px)">
    <form method="post" class="col-6 m-auto">
        <p class="descfrmTypeLabel lead">Добавление нового региона</p>
        <div class="form-group row col-8">
            <label>Название</label>
            <div class="invalid-feedback">
                <span th:each="err : ${#fields.errors('regionForm.name')}" th:text="${err}"></span>
            </div>
            <input th:field="*{regionForm.name}" type="text" maxlength="255" id="title"
                   class="form-control" name="name" th:errorclass="is-invalid">
        </div>
        <div class="form-group row col-12">
            <label for="description">Описание</label>
            <div class="invalid-feedback">
                <span th:each="err : ${#fields.errors('regionForm.description')}" th:text="${err}"></span>
            </div>
            <textarea placeholder="Введите описание" id="description" class="form-control"
                      name="description" th:field="*{regionForm.description}" th:errorclass="is-invalid"></textarea>
        </div>
        <label class="col-3 pl-0">Фото</label>
        <div class="invalid-feedback">
            <span th:each="err : ${#fields.errors('regionForm.photo')}" th:text="${err}"></span>
        </div>
        <th:block th:insert="blocks/photoInput::photoInput(${regionForm.photo})"></th:block>
        <div class="text-right form-group">
            <button class="btn btn-info mt-3 mb-2 mr-5">Сохранить</button>
        </div>
    </form>
</div>
<ul th:replace="blocks/photoUlElement::phtotoElement"></ul>
<footer th:replace="blocks/footer::footer"></footer>
</body>
</html>