<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <th:block th:insert="blocks/head::head"></th:block>
    <script th:src="@{/checkCaptcha.js}"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
<header th:insert="blocks/header::header"></header>
<div class="container" style="min-height: calc(100vh - 240px)">
    <form method="post" class="col-4 m-auto">
        <p class="descfrmTypeLabel lead">Регистрация нового пользователя</p>
        <div class="form-group row">
            <label>Имя</label>
            <div class="invalid-feedback">
                <span th:each="err : ${#fields.errors('userForm.name')}" th:text="${err}"></span>
            </div>
            <input th:field="*{userForm.name}" type="text" maxlength="30" id="name"
                   class="form-control" name="name" th:errorclass="is-invalid">
        </div>
        <div class="form-group row">
            <label>E-mail</label>
            <div class="invalid-feedback">
                <span th:each="err : ${#fields.errors('userForm.email')}" th:text="${err}"></span>
            </div>
            <input th:field="*{userForm.email}" type="text" maxlength="30" id="email"
                   class="form-control" name="email" th:errorclass="is-invalid">
        </div>
        <div class="form-group row">
            <label>Пароль</label>
            <div class="invalid-feedback">
                <span th:each="err : ${#fields.errors('userForm.password')}" th:text="${err}"></span>
            </div>
            <input th:field="*{userForm.password}" type="password" maxlength="30" id="password"
                   class="form-control" name="password" th:errorclass="is-invalid">
        </div>
        <div class="form-group row">
            <label>Повторите пароль</label>
            <div class="invalid-feedback">
                <span th:each="err : ${#fields.errors('userForm.passwordCopy')}" th:text="${err}"></span>
            </div>
            <input th:field="*{userForm.passwordCopy}" type="password" maxlength="30"
                   class="form-control" name="password_copy" th:errorclass="is-invalid">
        </div>
        <div class="g-recaptcha mt-3 ml-3 mt-3" data-sitekey="6Lc78cgaAAAAANLnEaabk0ecT7WrnWJMjtaEzuVJ"
             id="recaptcha"></div>
        <div class="invalid-feedback ml-3 mb-3">
            <span th:text="${captcha_error}"></span>
        </div>
        <input type="hidden" id="response" name="captchaResponse">
        <div class="form-group text-center">
            <button class="btn btn-outline-primary" id="submit">Зарегистрироваться</button>
        </div>
        </form>
</div>
<footer th:replace="blocks/footer::footer"></footer>
</body>
</html>