<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <th:block th:insert="blocks/head::head"></th:block>
    <script th:src="@{/clear-localhost.js}"></script>
</head>
<body>
<header th:insert="blocks/header::header"></header>
<div class="container">
    <div class="user">
        <div class="for-user clearfix alert">
            <div class="user-info">Здравствуйте, <span th:text="${user.name}"></span>!</div>
            <a th:href="@{/logout}" class="logout btn btn-dark">Выйти</a>
        </div>
    </div>
    <div class="routes">
        <div class="routes-header alert">Ваши маршруты:</div>
        <div th:each="route : ${routes}" class="route alert alert-info mt-2 short-place">
            <div class="info">
                <span th:each="place : ${route.placesInfo}" class="place-info">
                    <a th:href="'/places/' + ${place.id}" th:text="${place.name}" class="direction-place"></a>
                </span>
            </div>
            <div class="route-buttons">
                <a th:href="'/user/direction/' + ${route.id}" class="btn btn-info btn-see mt-3">Просмотреть</a>
                <button type="button" class="delete-button mt-3 ml-3" th:data-routeid="${route.id}"><i
                        class="trash"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="route-layout" hidden>
    <div class="route alert alert-info mt-2 short-place">
        <div class="info">
                <span class="place-info">
                    <a href="/places/" class="direction-place"></a>
                </span>
        </div>
        <div class="route-buttons">
            <a href="/user/direction/" class="btn btn-info btn-see mt-3">Просмотреть</a>
            <button type="button" class="delete-button mt-3 ml-3"><i class="trash"></i></button>
        </div>
    </div>
</div>

<footer th:replace="blocks/footer::footer"></footer>
</body>
</html>