<div th:fragment="carousel(item)" th:id="${carouselId}" class="carousel slide col-4" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item" th:each="img : ${item.photo}">
            <div class="carousel-item-img">
                <img th:src="${img}">
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" th:href="${'#' + carouselId}" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" th:href="${'#' + carouselId}" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>