<footer class="footer position-relative bg-light p-3 pl-5 pr-5" th:fragment="footer">
        <div class="d-flex">
            <span class="mr-auto p-2">Могилев, 2021</span>
            <a class="p-2 text-dark" href="/about">О нас</a>
            <a class="p-2 text-dark" href="/contacts">Контакты</a>
        </div>
</footer>