<div th:fragment="header">
    <div class="d-flex align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <a id="logo" class="navbar-brand" href="/">Достопримечательности Беларуси</a>
        <nav class="my-2 my-md-0 mr-md-3 w-100 text-right">
            <form class="d-inline-flex mr-5" action="/search">
                <input id="search" type="search" class="form-control col-auto" name="param"/>
                <button id="search-button" class="btn btn-secondary">
                    <i class="fa fa-search"></i>
                </button>
            </form>
            <a class="p-2 text-dark" href="/">Главная</a>
            <a class="p-2 text-dark" href="/regions">Области</a>
            <a class="p-2 text-dark" href="/map">Карта</a>
            <a class="p-2 text-dark" href="/user/routes"><i class="fa fa-user"></i></a>
        </nav>
        <!--<a class="btn btn-outline-primary" href="#">Sign up</a>!-->
    </div>
</div>