<ul th:fragment="photoInput(photos)" class="list-group row col-12" id="photo-list">
    <li class="list-group-item list-group-item-secondary ml-3">
        <div class="row">
            <div class="col-8">
                <input type="text" id="photo" class="form-control">
            </div>
            <div class="col-4">
                <button type="button" class="btn btn-success btn-block" id="add-photo">Добавить</button>
            </div>
        </div>
    </li>
    <th:block th:if="${!(photos == null)}">
        <li class="list-group-item pt-0 pb-0 col-12 ml-3" th:each="photo : ${photos}">
            <div class="row">
                <div class="col-10 d-flex">
                    <a class="stretched-link align-self-center" th:href="${photo}" target="_blank"
                       style="overflow:hidden; text-overflow: ellipsis" th:text="${photo}"></a>
                    <input type="hidden" th:value="${photo}" name="photo">
                </div>
                <div class="col-2 text-right">
                    <button name="deletePhoto" type="button" class="btn btn-lg"><i class="fa fa-trash"></i></button>
                </div>
            </div>
        </li>
    </th:block>

</ul>