<ul th:fragment="phtotoElement" id="photoTemplate" style="display: none;">
    <li class="list-group-item pt-0 pb-0 col-12 ml-3">
        <div class="row">
            <div class="col-10 d-flex">
                <a class="stretched-link align-self-center hidden-text" href="" target="_blank"></a>
                <input type="hidden" value="" name="photo">
            </div>
            <div class="col-2 text-right">
                <button name="deletePhoto" type="button" class="btn btn-lg"><i class="fa fa-trash"></i></button>
            </div>
        </div>
    </li>
</ul>
