html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
}
header{
    flex: 0 0 auto;
}
.container, .container-fluid{
    flex: 1 0 auto;
}
footer{
    flex: 0 0 auto;
}
#logo {
    color: #343a40;
}

#logo:hover {
    color: #141719;
}

.page-header {
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 24px;
}

.bckg-img {
    background-image: url(../images/main.jpg);
    background-size: 100%;
}

#map {
    width: 100%;
    height: 400px;
    border: #e6e6e6 1px solid;
}

.invalid-feedback {
    display: block;
    margin-top: 0;
}

.indent {
    text-indent: 3em;
}

/* REGIONS */

.region-block {
    padding: 18px 0;
    border-bottom: 1px solid #e6e6e6;
}

.region-block:hover {
    background-color: #fdfbf7;
}

/* Carousel overrides */

.carousel {
    width: 200px;
    height: 250px;
}

.carousel.large {
    width: 700px;
    height: 500px;
}

.carousel-inner {
    border-radius: 6px;
    border: 1px solid #ddd;
}

.carousel-inner.dark {
    border-radius: 6px;
    border: 1px solid #4e4e4e;
}

.carousel-item {
    background-color: #eee;
}

.carousel-item.dark {
    background-color: #515151;
}

.carousel-item-img{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-item-img.large{
    height: 500px;
}

.carousel-item-img img {
    max-width: 100%;
    max-height: 100%;
}

#map {
    width: 100%;
    height: 500px;
}

.short-places .short-place {
    padding-left: 220px;
    padding-right: 60px;
    position: relative;
    height: 150px;
    overflow: hidden;
}

.short-place .place-img {
    position: absolute;
    top: 50%;
    left: 10px;
    width: 190px;
    height: auto;
    transform: translateY(-50%);
}

.short-place h3 a:hover {
    color: #0c5460;
    text-decoration: none;
}

.none {
   display: none;
}

.short-place .description,
.short-place .address-time {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.short-place .delete-button {
    background-color: transparent;
    border-color: transparent;
    padding: 5px;
    font-size: 0;
    color: inherit;
}

.delete-button .trash::before {
   content: "\f1f8";
   font-size: 16px;
   font: normal normal normal 20px/1 FontAwesome;
   color: inherit;
}

.short-place .arrows {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 30px;
    height: 90px;
}

.short-place .arrows > .up,
.short-place .arrows > .down {
    text-align: center;
    font-size: 0;
    padding: 0;
    border-color: transparent;
    background-color: transparent;
    color: inherit;
}

.short-place:first-child .up,
.short-place:last-child .down {
    visibility: hidden;
}

.short-place .arrows > .up:hover,
.short-place .arrows > .down:hover {
    box-sizing: border-box;
}

.short-place:not(:first-child) .up::before,
.short-place:not(:last-child) .down::before {
    font-size: 20px;
    line-height: 20px;
    display: inline-block;
    height: 100%;
    width: 100%;
    color: inherit;
}

.short-place:not(:first-child) .up::before {
    content: '\1F871';
}

.short-place:not(:last-child) .down::before {
    content: '\1F873';
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.for-user {
    text-align: center;
}

.user .user-info {
    display: inline-block;
    vertical-align: middle;
}

.user .logout {
    float: right;
}

.routes .routes-header {
    font-size: 16px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    color: #17a2b8;
}

.route .info a {
    color: inherit;
}

.route .info a:hover {
    text-decoration: none;
    color: #17a2b8;
}

.direction-place {
    display: inline-block;
    padding: 5px 10px;
}

.place-info:first-of-type .direction-place {
    padding-left: 0;
}

.route .place-info:not(:last-of-type)::after {
    content: '\1F872';
}

.route .text {
    float: left;
    line-height: 38px;
}

.route .buttons {
    float: right;
}

.map-direction #clear {
    vertical-align: bottom;
}

.make-auth {
    display: inline-block;
    line-height: 38px;
}

.make-auth a:hover {
    color: #17a2b8;
    text-decoration: none;
}

.hidden-text {
    overflow:hidden;
    text-overflow: ellipsis;
}
 .place-bckg {
     background: rgba(208, 199, 212, 0.25)
 }

 .shadow-bckg {
     background: rgba(179, 170, 183, 0.31)
 }

 .img-mini {
     height: 300px;
 }

 .route .btn-see {
    vertical-align: bottom;
 }



